
<ion-content>
 <ion-grid   style="margin-top: 5px;"  > 
                
      <ion-row  style="background-color:snow"  > 
          
             <ion-col align-self: center style="justify-content: right;" size="auto" class="centered"    >
                 <ion-icon style="width:25px;height: 25px;margin-right: 1px;" name="arrow-back-outline" (click)="SearchProduct()"></ion-icon>                
                  </ion-col>

                 
                  <ion-col align-self: stretch push-md="1" >

                    <div style="margin-top: 10px;text-align:center">
                   <p>Check Out</p> 
                    </div>                     
                   
                  </ion-col>
        
                 
                  <ion-col size="auto"  class="centered" style="align-items: right;"   >
                    <div style="margin-top: 1px;text-align: right;">
                   <ion-icon style="width:25px;height: 25px;margin-right: 1px;" name="bag-handle-outline"></ion-icon>
                                                                                                                                                            
                    </div>  
                  </ion-col>


      </ion-row> 
  </ion-grid>
    
    <ion-segment 
      value="schedule"       
      scrollable="true"
      mode="ios"
      [(ngModel)]="segmentModel" 
      (ionChange)="segmentChanged($event)"      
      >

      <ion-segment-button value="confirmation" style="margin-left: 5px;">
        <ion-label>Confirmation</ion-label>
      </ion-segment-button>

      <ion-segment-button value="payment">
        <ion-label>Received Orders</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Payment" style="margin-right: 5px;">
        <ion-label>Payment</ion-label>
      </ion-segment-button>
      
    </ion-segment>
  <div *ngIf="segmentModel === 'confirmation'" style="padding-left:10px;padding-right:10px">
   <div id="spacer" style="text-align:center">
          
               <h3>Hello Muringe,</h3>
              
                <span style="font-size: medium;"> <b>Your about to pay 10,000 for: </b>  </span> 
         
       </div>
     <ion-grid *ngFor="let item of daBuilding"  style="margin-bottom: 20px;"   > 
     
         
 
           <ion-card  class="rcorners"  *ngFor="let item of daBuilding" >
            
            <ion-row >
            

                <ion-col size="3" style="text-align:left" >   
                    <img style="height: 100px;border-radius: 15px;" src = {{item.avatarimage}}>                                                                                                                                        
                </ion-col>

                <ion-col >
                  <ion-row class="align-items-start">
                    <ion-col  >                     
                        <ion-label style="font-size: medium;"  > <b>{{item.prodname}}  </b></ion-label>                        
                    </ion-col>

                    </ion-row>
                            
                    <ion-row class="ion-align-self-end">
                     
                        <ion-col   class="align-self-end"  > 
                          <div style="text-align: left;justify-content: start;">
                            <p style="font-weight: bolder;">{{ item.pricerangeA }}  </p> 
                          </div>                       
                                                 
                        </ion-col>
                     
                        
                        <ion-col class="align-self-end"   >
                         <ion-item no-lines>
                           
                            <ion-button shape="round" color="tertiary" style="width:50%;height:60%">Qty {{item.proquantity}}                                            
                                  </ion-button>              
                           
                            <ion-icon name="trash-outline" style="width:35px;height: 35px;margin-right: 1px;color:red"></ion-icon>
                          </ion-item>
                      
                         </ion-col>

                       
                         
                   
                  </ion-row>
                  
                  

                 
                </ion-col>            
            </ion-row>

          </ion-card>
        </ion-grid>
        
  <div style="text-align:center">
        <ion-button  shape="round" color="danger" (click)="letsviewcheckout()">
                   Confirm Order  Placement   
              <ion-icon slot="end" name="checkmark-outline"></ion-icon>
            </ion-button>

</div>
      
        </div >
 

<div *ngIf="segmentModel === 'payment'" style="padding-left:10px;padding-right:10px">
          <div id="spacer" style="text-align:center">
      
               <h2>Thank you for confirming here is the summary </h2>
              
           </div>
         

       
   <ion-grid *ngFor="let item of daBuilding"  style="margin-bottom: 20px;"   >  
           <ion-card  class="rcorners"  *ngFor="let item of daBuilding" >
            <ion-row >
            

                <ion-col size="3" style="text-align:left" >   
                    <img style="height: 100px;border-radius: 15px;" src = {{item.avatarimage}}>                                                                                                                                        
                </ion-col>

                <ion-col >
                  <ion-row class="align-items-start">
                    <ion-col  >                     
                        <ion-label style="font-size: medium;"  > <b>{{item.prodname}}  </b></ion-label>                        
                    </ion-col>

                    </ion-row>
                            
                    <ion-row class="ion-align-self-end">
                     
                        <ion-col   class="align-self-end"  > 
                          <div style="text-align: left;justify-content: start;">
                            <p style="font-weight: bolder;">{{ item.pricerangeA }}  </p> 
                          </div>                       
                                                 
                        </ion-col>
                     
                        
                        <ion-col class="align-self-end"   >
                         <ion-item no-lines>
                           
                            <ion-button shape="round" color="tertiary" style="width:70%;height:70%">Confirmed                                        
                                  </ion-button>              
                           
                            <ion-icon name="checkmark-done-circle-outline" style="width:35px;height: 35px;margin-right: 1px;color:red"></ion-icon>
                          </ion-item>
                      
                         </ion-col>

                       
                         
                   
                  </ion-row>
                  
                  

                 
                </ion-col>            
            </ion-row>

          </ion-card>
        </ion-grid>
        
  <div style="text-align:center">
        <ion-button  shape="round" color="danger" (click)="letsviewcheckout()">
                   Proceed To Payment  
              <ion-icon slot="end" name="checkmark-outline"></ion-icon>
            </ion-button>

</div>
      

  </div >
 
<div *ngIf="segmentModel === 'Payment'" style="padding-left:10px;padding-right:10px">
          <div style="padding-left: 10px;margin-top: 30px;margin-bottom: 10px;">      
          <span style="font-size: medium;"> <b>Choose a delivery option  </b>  </span> 
    </div>
    
         
  <div style="padding-left:10px;background-color: white;border-style: outset">
   
        <ion-list  >
          <ion-radio-group value={{deli}} [(ngModel)]="deli"  (ionChange)="deliChecked()">
                   
            <ion-item lines="none">
              <ion-label>No delivery  </ion-label>
              <ion-radio slot="start" value="no_del"></ion-radio>
            </ion-item>
            
            <div  *ngIf="divsec" >              
              <div style="text-align: center;margin-top: 5px;">
                <ion-button size="small" color="danger"  (click)="selectpickup()" shape="round"  >    
                  Select pickup station
                  <ion-icon slot="start" name="create-outline"></ion-icon>                           
                </ion-button>
              </div>
              <div *ngIf="divsec2" style="margin-left: 40px;margin-top: 10px;" >
                <b>Pickup: </b> {{station}}<br>
                 <b> Fee: Ksh. </b>  {{stationfee}}
              </div>
             
            </div>


            <div id="spacer" style="height: 30px;"></div>
            
            <ion-item lines="none">
              <ion-label>Select Destination</ion-label>
              <ion-radio slot="start" value="out"></ion-radio>
            </ion-item>

            <div  *ngIf="divselocation2" style="text-align: center;margin-top: 5px;padding-left: 5px;padding-right: 5px;" >       
            
              <ion-button size="small" color="danger"  (click)="selectLocation()" shape="round"  >    
                   Select a destination 
                  <ion-icon slot="start" name="create-outline"></ion-icon>                           
              </ion-button>
            </div> 
            
            <div *ngIf="divsec3" style="margin-left: 40px;margin-top: 10px;" >
              <b>Destination: </b> {{desc}}<br>
                {{Delifee}}
            </div>
                 
          </ion-radio-group>
        </ion-list>
    </div>

  <div style="padding-left: 10px;margin-top: 30px;margin-bottom: 10px;">      
      <span style="font-size: medium;"> <b>Schedule your delivery  </b>  </span> 
    </div>
      
<div style="padding-left:10px;background-color: white;border-style: outset">
        <ion-list>
          <ion-radio-group value={{sched}} [(ngModel)]="sched"  (ionChange)="scheduleChecked()">
                   
            <ion-item lines="none">
              <ion-label>Soonest possible  </ion-label>
              <ion-radio slot="start" value="soonest"></ion-radio>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label> Select date</ion-label>
              <ion-radio slot="start" value="select_date"></ion-radio>
            </ion-item>                          
          </ion-radio-group>

          <div *ngIf="divSeldate" style="margin-left: 25px;">          
            <span> <b>Delivery date:</b> {{selected_date}} </span> &nbsp;&nbsp;
            <ion-icon name="calendar-outline" (click)="get_dates()" style="width: 30px; height: 20px;margin-top: 5px;" ></ion-icon>            
          </div>

        </ion-list>
       
      </div>
     <div id="spacer" style="height: 20px;">
            <span style="font-size: medium;"> <b>Select a Payment Method </b>  </span> 
      </div>
   <div style="padding-left:10px;background-color: white;border-style: outset">
             <ion-list>
             
                <ion-radio-group value={{pesa}} [(ngModel)]="pesa"  (ionChange)="Pay_method_Checked()" >
                            
                <ion-card >
                                
                  <ion-item lines="none" >
                    <h5>Pay Now</h5> 
                    <ion-radio slot="start" value="mpesa" checked ></ion-radio>
                  </ion-item>


                    <div *ngIf="divPaynow" style="margin-left: 40px;">
                        <div style="margin-left: 10px;">
                          <ion-label><img style="height: 20px;" src="assets/wallet.png"/> &nbsp;Your Wallet balance Ksh. 0</ion-label>
                        </div>
                       
                        <div style="padding-left:10px"   >
                          <ion-item lines="none" >
                            <ion-label style="font-size: small;" class="ion-text-wrap">
                              Before you proceed, please make sure you have enough money in  your account. 
                              </ion-label>   
                          </ion-item>
                          <ion-item lines="none" >
                            <ion-label style="font-size: small;" class="ion-text-wrap">
                              Money back guarantee  /refund policy applies.
                              </ion-label>   
                          </ion-item>

                        </div>
                        
                    </div>

              </ion-card>

              <ion-card >
              
                <ion-item lines="none">
                  <h5>Pay on Delivery</h5>
                  <ion-radio  slot="start" value="later" ></ion-radio>
                </ion-item> 

                <div *ngIf="divPaylater" style="margin-left: 40px;">
                  <div>
                    <img style="height: 30px;" src="assets/mpesa.png"/>
                  </div>
                  <ion-item lines="none" >
                    <ion-label style="font-size: small;" class="ion-text-wrap">
                       Pay when our delivery Associate delivers your package to your prefeered location.   
                      </ion-label>   
                  </ion-item>

                  <ion-item lines="none" >
                    <ion-label style="font-size: small;" class="ion-text-wrap">
                      We encourage you to pay via mobile money
                     </ion-label>         
                  </ion-item>
                
                </div>

                <div *ngIf="divPaylaterNot" style="margin-left: 40px;">
                  <ion-item lines="none" >
                    <ion-label style="font-size: small;" class="ion-text-wrap">
                       Unavailable
                     </ion-label>         
                  </ion-item>

                  <ion-item lines="none" >
                  <ion-label style="font-size: small;" class="ion-text-wrap">
                    <ion-button  (click)="reasons()" fill="clear"    style="width: 300px;"   >            
                      <span style="text-decoration: underline;">Reasons</span>
                   </ion-button>                  
                  </ion-label>         
               </ion-item>
                
                </div>



              </ion-card>

              </ion-radio-group>

            </ion-list>

      </div>
   
<ion-grid >
            <ion-row  >
               <ion-col size="6" style="text-align: left" >
                <ion-card-subtitle>Sub Total:  </ion-card-subtitle>                
                </ion-col>
                <ion-col size="6" style="text-align: right;;color:purple" >
                  10,000
                </ion-col>
            </ion-row>
             <ion-row  >
               <ion-col size="6" style="text-align: left" >
                <ion-card-subtitle> Delivery Fee: </ion-card-subtitle>                
                </ion-col>
                <ion-col size="6" style="text-align: right;color:purple" >
                   Ksh. 0
                </ion-col>
            </ion-row>
            <ion-row >
               <ion-col size="6" style="text-align: left" >
                <ion-card-subtitle>   Total Checkout: </ion-card-subtitle>                
                </ion-col>
                <ion-col size="6" style="text-align: right;" >
                  10,000
                </ion-col>
            </ion-row>
        </ion-grid>
        


  </div >
</ion-content>
