

<ion-content  >
     

  <ion-card   >
    <ion-slides slidesPerView="1" centeredSlides  pager="true"  class="topslides" style="border-style: outset;"   >     
      
      <ion-slide *ngFor="let item of daBuilding;"  style="border-style: outset;"  >          
          <ion-img style="height: 100%;" width="150%"  src={{item.avatarimage}} ></ion-img>       
      </ion-slide> 
                           
     </ion-slides>
   </ion-card>







    <ion-card  style="margin-bottom: 20px;border-radius:20px;height:22%;width:100%"  >

       <div  *ngFor="let item of daBuilding" style="margin-top: 20px;width: 98%;text-align: left;margin-bottom: 30px;"> 
                     
            <div style="text-align: left;margin-bottom: 10px;">
              <ion-card-subtitle style="font-size: medium;color:red;">{{ item.prodname }}  </ion-card-subtitle>    
            </div>

      
                
            
        <ion-grid style="width: 100%;">
        
          <ion-row style="padding-left: 20px;" >          
            <ion-col size="4" style="margin-top: 2px;" >                
           <div style="text-align: left;margin-bottom: 10px;">
              <ion-card-subtitle style="font-size: larger;">{{ item.pricerangeA }}  </ion-card-subtitle>    
               <ion-card-subtitle style="font-size: larger;">{{ item.descrangeA }}  </ion-card-subtitle>   
            </div>

            </ion-col>
            <ion-col size="4" style="margin-top: 2px;" >                
             <div style="text-align: left;margin-bottom: 10px;">
              <ion-card-subtitle style="font-size: larger;">{{ item.pricerangeB }}  </ion-card-subtitle> 
                <ion-card-subtitle style="font-size: larger;">{{ item.descrangeB }}  </ion-card-subtitle>      
            </div>
            </ion-col>
                
          </ion-row>

        </ion-grid>

            
               
     
 
      
        </div>


</ion-card>

    <ion-card  style="margin-bottom: 20px;border-radius:20px;height:30%;"  >
          <p style="margin-left:10px"> Trade Assuarance</p>
       <div  style="margin-top: 10px;width: 98%;text-align: left;margin-bottom: 30px;margin-left:10px"> 
           <p>Protects your Netbiz.b2b orders</p>
        </div>
                <ion-item >                  
                  <p>On-time Dispatch Guarantee</p>
                  <ion-icon name="checkmark-circle-outline" class="ion-align-self-center"  slot="start"></ion-icon>
                </ion-item>    
                  <ion-item >                  
                  <p>Refund Policy</p>
                  <ion-icon name="checkmark-circle-outline" class="ion-align-self-center"  slot="start"></ion-icon>
                </ion-item>    

    </ion-card>
     <ion-card  style="margin-bottom: 20px;border-radius:20px;height:30%;"  >
        <ion-item >         
          <p style="margin-left:10px" slot="start"> Variations</p>
          <ion-icon name="ellipsis-horizontal-outline" class="ion-align-self-center"  slot="end" (click)="letsviewvariations()"></ion-icon>  
          </ion-item>    
         
      <br>
      <p style="margin-left:10px">Connectors:2, Color:6</p>
         <div  *ngFor="let item of daBuilding">
        <ion-slides slidesPerView="1" centeredSlides  pager="true"  class="topslides1" style="border-style: outset;"   >     
      
            <ion-slide  style="border-style: outset;"  >          
                <ion-img style="height: 100%;" width="150%"  src={{item.avatarimage}} ></ion-img>       
            </ion-slide> 
    
                          
        </ion-slides>
      </div>
      <div style="text-align:center">
       <ion-button color="warning" style="width:100%" shape="round"> Add to Cart </ion-button>
      </div>
    </ion-card>
 
</ion-content>



<ion-footer>
  <ion-toolbar  > 

      

        <ion-grid style="width: 100%;">
        
          <ion-row style="padding-left: 10px;" >          
            <ion-col size="4" style="margin-top: 2px;" >                
             <div style="text-align:center">
              <ion-button color="tertiary" style="width:100%" shape="round">Chat Now</ion-button>
              </div>
            </ion-col>
            <ion-col size="4" style="margin-top: 2px;" >                
            <div style="text-align:center">
              <ion-button color="success" style="width:100%" shape="round">Send Enquiry</ion-button>
            </div>
            </ion-col>
            <ion-col size="4" style="margin-top: 2px;" >                
            <div style="text-align:center">
              <ion-button color="warning" style="width:100%" shape="round">Start Order </ion-button>
              </div>
            </ion-col>        
          </ion-row>

        </ion-grid>

         

    
     
   
 
  </ion-toolbar>
</ion-footer>