

<ion-content  >
 
  <ion-slides class="ion-padding"  pager="true"  class="ion"  >
    


 
    <ion-slide  class="steptwo" >        
     <ion-img src="assets/E-commerce-cartoon-illustration-vector.webp"  style="margin-top:15px"></ion-img>  

         
           <h1 class="h" >Hello,Welcome to Netbiz B2B</h1> 
           
           <p style="color: black;padding-left: 20px;padding-right: 20px;" > We bring all the products you need so close<br>
                all you need to do is tap
             </p>     
            <br>
      <ion-button shape="round"  color="tertiary" style="text-align:center"  (click)="login()"  >Skip</ion-button>
    </ion-slide> 


    <ion-slide  class="steptwo"  >        
 <ion-img src="assets/mobile-shopping-scene-132620399.jpg" style="margin-top:15px"></ion-img>  

        
         <h1 class="h">Smooth transition </h1>
         <p class="h" style="padding-left: 20px;padding-right: 20px;" >
         We handle everything from intergrated 
                 payments & shipping to secure checkout. 
         </p>
        <ion-button shape="round" color="tertiary" style="text-align:center"  (click)="login()">Skip</ion-button> 
   </ion-slide> 


    <ion-slide class="steptwo" >
 <ion-img src="assets/online-shopping.png" style="margin-top:15px"></ion-img>  

          
         <h1 class="h"  >Be A B2B</h1>   
             <p class="h" style="padding-left: 20px;padding-right: 20px;" >We help you find anything<br>
                From apparel to shoes,
                 <br>autospares home decor and many more </p>   
                <br>
       <ion-button shape="round" color="tertiary" style="text-align:center"  (click)="login()">Dive right In </ion-button> 

     
    </ion-slide>





    
  </ion-slides>
</ion-content>

 
 