ion-content {
  //  --background: url('/assets/b2b splash-02.png') 0 0/100% 100% no-repeat
  }
  .swiper-slide img {
  //  width: auto;
    max-width: 80%;
    float: right;
    height: 80%;
    max-height: 80%;
}
.alignme{

  position:absolute;
  right:0

}