<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>Variation</ion-title>
    <ion-icon name="checkmark-circle-outline" class="ion-align-self-center"  slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid style="width: 100%;">
        
          <ion-row style="padding-left: 20px;" >          
            <ion-col size="4" style="margin-top: 2px;" >                
           <div style="text-align: left;margin-bottom: 10px;">
              <ion-card-subtitle style="font-size: larger;">{{ item.pricerangeA }}  </ion-card-subtitle>    
               <ion-card-subtitle style="font-size: larger;">{{ item.descrangeA }}  </ion-card-subtitle>   
            </div>

            </ion-col>
            <ion-col size="4" style="margin-top: 2px;" >                
             <div style="text-align: left;margin-bottom: 10px;">
              <ion-card-subtitle style="font-size: larger;">{{ item.pricerangeB }}  </ion-card-subtitle> 
                <ion-card-subtitle style="font-size: larger;">{{ item.descrangeB }}  </ion-card-subtitle>      
            </div>
            </ion-col>
                
          </ion-row>

        </ion-grid>




</ion-content>
