<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>Variation</ion-title>
    <ion-icon name="checkmark-circle-outline" class="ion-align-self-center"  slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid style="width: 100%;">
        
          <ion-row style="padding-left: 20px;" >          
            <ion-col size="4" style="margin-top: 2px;" >                
           <div style="text-align: left;margin-bottom: 10px;">
                <ion-img style="height: 20%;" width="20%"  src={{avatarimage1}} ></ion-img>    
            </div>

            </ion-col>
            <ion-col size="4" style="margin-top: 12px;" >                
             <div style="text-align: left;margin-bottom: 10px;">
             <p>Ksh: {{ pricerange1 }} </p>
              <p>MOQ: {{ MOQ1 }}  </p>
              
            </div>
            </ion-col>
                
          </ion-row>

        </ion-grid>


<ion-item no-lines>
   <ion-button (click)="minus()" shape="round">-</ion-button>
   <p>{{qty}}</p>                   
   <ion-button (click)="plus()" shape="round">+</ion-button>
   
</ion-item>

</ion-content>
