.labels{
    margin-bottom: 10px;text-align: center; border-radius:7px;
  }
  
  .pro_images{
    margin-left: 5px;margin-top: 10px;margin-bottom: 7px; border-radius:10px;
  }

  .btns {
  
   // text-align: center;   
    padding: 0px;
    width: 90%;
    margin-left: 10px; 
    align-self: center;justify-self: center
  }
  .action-sheets-basic-page {
    .ion-md-share {
      color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }
    .ion-md-heart-outline {
      color: #31D55F;
    }
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }
  }
  

  .box{
    box-shadow: 2px 2px 2px #a0b1c5        
  }

  .showow{
    box-shadow: 0px 5px 5px #a0b1c5        
  }

  .borders{
    border-radius: 5px
  }
  .rcorners {
    border-radius: 10px;
     width: 96%;
     height: 65%;  
 }
 